.wrapper
  = render "shared/header"
  .main 
    = form_for @player, class:"input_form" do |f|
      = f.label :"お気に入り選手の登録"
      = f.collection_check_boxes :player_name, Player_list.all, :id,:player_name, {}
      = f.submit "Registrate"
  = render "shared/footer"