/ 選手一覧ビュー

.notice
  - if flash[:notice]
    %p= flash[:notice]

.alert
  - if flash[:alert]
    %p= flash[:alert]



.wrapper
  = render "shared/header"
  .favorite-main
    = link_to "選手一覧", players_path, class: "players-link"
    .favorite-player
      .favorite-player__title お気に入りの選手
      %table
        %thead
          %tr
            %th.favorite-player__content-title-btn 削除
            %th.favorite-player__content-title 選手名(英語)
            %th.favorite-player__content-title 選手名(日本語)
        %tbody
          / 削除リンクの為にindex付きのメソッドを使用
          - @user.player.each_with_index do |player, i|
            %tr
              %td= link_to "削除",favorite_path(@favorites[i][:id]),class:"favorite-delete", method: :delete
              %td= player.name
              %td= player.name_jp


  = render "shared/footer"




  -#   .favorite-brand
  -#     .favorite-brand__title お気に入りブランド
  -#     .favorite-brand__list
  -#       - @user.brand.each do |f|
  -#         = f.name
  -#       / brand_userモデルに対してデータを投稿。brandsコントローラーのcreateアクションを実行。
  -#       =form_for :user do |f|

  -#         =f.collection_check_boxes :brand_ids, Brand.all, :id, :name do |b|
  -#           =b.label{ b.check_box + b.text }
  -#           %br
  -#         =f.submit "変更", class:"brand-change-btn"

  -#         =link_to "変更", brands_path(current_user), class:"brand-change-btn", method: :PATCH

  -# = render "shared/footer"