.content-left
  .content-left-header
    Tennis Info
  .content-left__news
    - @news_elements.each do|news|
      - current_user.player.each do |player|
        - if news.inner_text.include?(player.name_search_1)
          - link = "http://news.tennis365.net" + news.get_attribute('href')
          %li
            = link_to news.inner_text, link, class:"news-link"

  .content-left-header
    Item Info
  .content-left__items-news
    %li
      = link_to "全豪オープン2020選手着用ウェア＆シューズに注目！", 'https://www.yonex.co.jp/tennis/news/2020/01/2001151630.html'
    %li
      = link_to "パワークッション®プラスと新形状パワーカーボンが安定性と次の一歩を踏み出す推進力を生むテニスシューズ「ECLIPSION 3」2020年2月下旬より発売", 'https://www.yonex.co.jp/tennis/news/2020/01/2001151100.html'
    %li
      = link_to "シリーズ最大のスウィートエリアとパワーを追求し、 ボールスピード最大2.5%UP！ 柔らかな打球感を併せ持つテニスラケット 新「EZONEシリーズ」2020年1月下旬より発売", 'https://www.yonex.co.jp/tennis/news/2020/01/2001061100.html'
    %li
      = link_to "パワークッション®プラス搭載。柔らかで快適な履き心地＆片足300g以下の軽量テニスシューズ「SONICAGE 2」2019年12月下旬より発売", 'https://www.yonex.co.jp/tennis/news/2019/11/1911201100.html'
    %li
      = link_to "快適なフィット感のFUSIONREV３から新デザイン登場！", 'https://www.yonex.co.jp/tennis/news/2019/10/1910231100.html'


  .content-left-header
    Racket Review
  .content-left__youtube
    %iframe#player1{frameborder: "0", height:"200", src: "https://www.youtube-nocookie.com/embed/wbK0QfshPUw", type: "text/html", width: "100%"}
    %iframe#player2{frameborder: "0", height:"200", src: "https://www.youtube-nocookie.com/embed/HeUivLNRiTQ", type: "text/html", width: "100%"}