/ お気に入り選手一覧ビュー

.notice
  - if flash[:notice]
    %p= flash[:notice]
    
.alert
  - if flash[:alert]
    %p= flash[:alert]


.wrapper
  = render "shared/header"
  .favorite-main
    = link_to "戻る", user_path(current_user), class: "players-link"
    .favorite-player
      .favorite-player__title 選手一覧 (3人までお気に入り登録可能)

      %table
        %thead
          %tr
            %th.favorite-player__content-title-btn 登録
            %th.favorite-player__content-title 選手名(英語)
            %th.favorite-player__content-title 選手名(日本語)
        %tbody
          - @players.each do |player|
            %tr
              / お気に入り登録ボタン ルートに従いパスを記述、POSTメソッドに指定
              %td= link_to "登録", add_player_path(player),class:"favorite-btn", method: :post
              / 詳細へのリンク
              %td= player.name
              %td= player.name_jp
  = render "shared/footer"